<div id="style-selector-container" style="float: right; margin-top: 40px">
    <select id="style-selector">
        {{#each styles}}        
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</div>
