<!DOCTYPE html>
<html>
<head>
     <meta http-equiv="content-type" content="text/html; charset=latin1">
     {{> styleLink}}
</head>
<body>
    <div class="header-bar">
        {{> styleSelector}}
    </div>

    {{{ highlightedCodeHtml }}}

    {{> javascriptLinks }}

</body>
</html>

